<%- include("../../partials/header") %>

    <% var optionsId = [1, 2, 3, 1, 2, 3] %>       
    <% var optionsName = ["Importante", "Normal", "Eletiva", "Importante", "Normal", "Eletiva"] %>

    <div class="container">
        <div class="card mt-5" >
            <div class="card-body">
                <div class="card-title">
                    <h2>Editar projeto</h2>
                </div>
                <form action="/admin/materia/edit" method="post">
                    <input type="hidden" class="form-control mb-3" name="id" value="<%= dados.id %>">
                    <p class="form-label mt-3">Nome</p>
                    <input type="text" class="form-control mb-3" name="name" value="<%= dados.name %>">
                    <p class="form-label">Descrição</p>
                    <textarea name="description" class="form-control mb-3" cols="30" rows="10"><%= dados.description %></textarea>
                    <p class="form-label">Professor</p>
                    <input type="text" class="form-control mb-3" name="teacher" value="<%= dados.teacher %>">
                    <p class="form-label">Nivel de importancia</p>
                    <select class="form-select mb-4" name="important">
                        <option value="<%= dados.important %>" selected><%= optionsName[dados.important-1] %></option>
                        <option value="<%= optionsId[dados.important] %>"><%= optionsName[dados.important] %></option>
                        <option value="<%= optionsId[dados.important+1] %>"><%= optionsName[dados.important+1] %></option>
                    </select>
                    <button type="submit" class="btn btn-primary">Editar</button>
                </form>
                
            </div>
        </div>
        
    </div>
    
<%- include("../../partials/footer") %>
